#my-cart,
#customer {
  background: #fff;
  border-radius: 3px;
  margin-top: 20px;
  padding: 10px 15px;
}

.cart {
  position: relative;
  padding: 30px 0;
}

.cart-num {
  color: white !important;
  position: absolute;
  top: 33px;
  left: 10px;
  font-size: 12px;
}
.cart-nav-item {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}
.cart-item {
  border-bottom: 1px solid #ccc;
  align-items: center;
  padding: 10px;
}

.order-qty {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0 !important;
}

.cart-thumb__product {
  display: flex;
  align-items: center;
}

.cart-total {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.cart-price {
  display: flex;
  gap: 20px;
  align-items: center;
}

.cart-total__price {
  font-size: 22px !important;
  color: #eb1f27;
}

.cart-price_1 {
  display: flex;
  justify-content: center;
}

.cart-thumb,
.cart-quantity,
.cart-price,
.cart-total {
  padding: 10px;
}
.cart-item img {
  width: 50px;
  float: left;
  margin-right: 10px;
}

.cart-thumb__product h4,
.cart-thumb h4,
.cart-total b {
  font-size: 16px;
}
.cart-price b {
  display: block;
  font-size: 18px;
}
.cart-price a {
  display: inline-table;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  border-radius: 3px;
  background: #ccc;
}
.cart-price a:hover {
  background: #fff;
}

.btn-delete {
  padding: 7px 10px;
  border: 1px solid red;
  color: red;
  border-radius: 10px;
  background-color: white;
}

.btn-delete:focus {
  outline: none;
}

.btn-delete:hover {
  background: red;
  color: white;
}

#customer-name,
#customer-phone,
#customer-mail,
#customer-add,
.by-now {
  padding: 10px;
}

.by-now a {
  text-align: center;
  display: inline-table;
  padding: 10px 30px;
  background: #eb1f27;
  border-radius: 3px;
  text-decoration: none;
  border: 1px solid #eb1f27;

  transition: background 0.2s;
}
.by-now b,
.by-now span {
  color: #fff;
}
.by-now b {
  display: block;
}
.by-now:last-child a {
  background: #305eb3;
  border: 1px solid #305eb3;
}
.by-now a:hover {
  background: #fff;
}
.by-now a:hover b {
  color: #eb1f27;
}
.by-now a:hover span {
  color: #eb1f27;
}
.by-now:last-child a:hover b {
  color: #305eb3;
}
.by-now:last-child a:hover span {
  color: #305eb3;
}
.by-now:first-child {
  text-align: right;
}
.by-now:last-child {
  text-align: left;
}

#update-cart {
  border-radius: 3px;
  border: 1px solid #305eb3;
  background: #305eb3;
  padding: 15px 20px;
  color: #fff;
}
#update-cart:hover {
  background: #ffffff;
  color: #305eb3;
}
@media (max-width: 768px) {
  .by-now:first-child {
    text-align: left;
  }
}
